[Desktop Entry]
Name=DDD for python
Name[pl]=DDD dla pythona
Comment=Data Display Debuger - python
Comment[pl]=Debuger pokazujący dane (DDD) - dla pythona
Exec=ddd --pydb 
Icon=ddd.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;Debugger;
# vi: encoding=utf-8
