[Desktop Entry]
Name=DDD
Comment=Data Display Debugger
Comment[af]=Data Vertoon Ontfouter
Comment[az]=Verilən Göstəriş Xəta Ayıqlayıcısı
Comment[bg]=визуален дебъгер на DDD
Comment[br]=Dizraener Diskwel Roadoù
Comment[ca]=Depurador de dades en pantalla
Comment[da]=Fejlsøger for datavisning
Comment[de]=DD-Debugger
Comment[eo]=Datummontra sencimigilo
Comment[es]=Depurador visual de datos ('Data Display Debugger')
Comment[et]=DDD silur
Comment[fi]=DDD-debuggeri
Comment[fr]=Débogueur symbolique
Comment[hu]=Grafikus nyomkövető
Comment[id]=Debugger Display Data
Comment[is]=DD-villugreiningartól
Comment[ko]=데이타 디스플레이 디버거
Comment[lt]=Duomenų vaizdavimo debugeris
Comment[lv]=Displeja Datu Atkļūdotājs
Comment[mk]=Отстранувач на грешки со можности за добар приказ на податочните структури
Comment[nl]=Data-display-debugger
Comment[no]=Dataskjerm feilsøker
Comment[oc]=Depurador de datas visuau
Comment[pl]=Debuger pokazujący dane (DDD)
Comment[pt_BR]=Depurador de Dados
Comment[ro]=Depanatorul DDD
Comment[ru]=Экранный отладчик DDD
Comment[sk]=Debugger zobrazujúci dáta
Comment[sv]=Datavisande felsökningsprogram
Comment[ta]=¾Ã×ì ¸¡ðº¢ô À¢¨Æ¿£ì¸¢
Comment[th]=เครื่องมือดีบักการแสดงข้อมูล
Comment[tr]=Veri Gösterim Hata Ayıklayıcısı
Comment[uk]=Зневаджувач "Data Display Debugger"
Comment[ven]=Dibaga i no sumbedza mafhungo (Data)
Comment[vi]=Trình Gỡ Rối Hiển Thi. Dữ Liệu
Comment[zh_CN]=数据显示调试器
Comment[zh_TW]=DDD 除錯器
Comment[zu]=Idata ibonisa idebugger
Exec=ddd 
Icon=ddd.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Development;Debugger;
# vi: encoding=utf-8
